.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/.trash/
content/.smart-connections/

# Ignore Smart Connections folder
.smart-connections
.smart-env/
.stfolder/

content/trash/
.stignore
